*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.star
{
    color: red;
}
.uname
{
    padding: 10px;
}
.left
{
    text-align: right;
}
  
     
     





